@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section1{

}

.inner-nav {
list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-left: 20%;
    margin-right: auto;
    width: 50%;
    background-color: rgb(255, 241, 250);
    border-radius: 10px;
    font-weight: bold;
    color: rgb(25, 26, 26);
}

