@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
margin: 0;
padding:0;
}

body{
    font-family: "Zalando Sans Expanded";
    font-weight: 400;

}

a{
    text-decoration: none;
}


.wrapper{background-color: rgb(245, 226, 211);
    width: 100%;
}
.container{
    width: 1400px;
    margin: 0 auto;
}

header {padding: 50px 0;
}


header nav{
   margin: auto;
   margin-left: auto;
   margin-right: auto;
    width: 50%;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content:space-between;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    color: black;

}

nav li.active a{
text-decoration: underline;
text-underline-offset: 5px;
text-decoration-color: rgb(0, 0, 0);
}

.inpage-nav {
list-style: none;
    display: flex;
    justify-content:space-between;
    margin: auto;
    margin-left: 20%;
    margin-right: auto;
    width: 50%;
    background-color: antiquewhite;
}

#section1 ul{ list-style:circle;
    margin-left: 20px;
    padding-left: 20px;
    color: black;
    font-size: 18px;

}

.photo{
    margin: 20px auto;
    width: 40%;
    text-align: center;
}
.photo p{
        font-weight: 700;
        background-color: rgb(255, 235, 254);
}

.photo img{
    width: 100%;
    height: auto;
    height: 400px;
    width: 600px;
}

#section1 ol{
    font-size: 30px;
}

h3.heading1{
    font-size: 50px;
}

h1.tophead{
    font-size: 70px;
}

nav.return{
    text-align: center;
    font-weight: 600;
    background-color: antiquewhite;
}

.gallery{
    display: grid;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;
    margin: 20px auto;
    text-align: center;
}

.pic{
    text-align: center;
}
.pic img{
    width: 200px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;
}

.pic p{
    font-size: 10px;
}

.icon{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    vertical-align:middle;
}

#gallery h3{
    text-align: center;
    background-color: rgb(220, 188, 249);
    color: rgb(255, 255, 255);
}


form#userenter input, label{
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}

form#userenter input{
    width: 40%;
    padding: 3px;
    border: 1px solid #ccc;
}
form#userenter label{
    font: weight 400px;
}

.first, .second{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.passport{
    position: relative;
    width: 400px;
    height: 250px;
    margin: 20px auto;
    background-color: url("../images/blank.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
}


.passport p{
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.passport-place{
    top: 90px;
    left: 140px;
}

.passport-date{
    top: 180px;
    right: 210px;
}

.code{
    top: 180px;
    right: 30px;
}

#lastname{
    top: 480px;
    left: 270px;
}

#name{
    top: 530px;
    left: 270px;
}

#otch{
    top: 560px;
    left: 270px;
}

#gender{
    top: 590px;
    left: 250px;
}

#date{
    top: 590px;
    left: 360px;
}

#hometown{
    top: 620px;
    left: 280px ;
}

.signature{
    position:absolute;
    top: 280px;
    left: 380px;
    width: 120px;
}

.passportphoto{
    position: absolute;
    top: 494px;
    width: 160px;
    left: 49px;
}

.first h3{
    position: absolute;
    left: 600px;
    top: 40px;
}

#change{
  position: absolute;
    top: 1000px;
    left: 600px;

}

.second h3{
    position: absolute;
    top: 1200px;
    left: 600px;

}

.second img{
    position: absolute;
    top: 1270px;
    width:600px;
    left: 600px;
}

#DOM_JS{
    transition: transform 0.3s ease;
}

#DOM_JS.big{
    transform: scale(1.5);
}

#size{
    position: absolute;
    top: 1700px;
    left: 600px;
    border-radius: 10px;
}

#form1{
    width: 100%;
    background: #ffcae6;
    box-shadow: 0 2px 6px #ccc;
}

.all-forms{
    margin: 30px auto;
    width: 60%;
    margin-top: 50px;
    background-color: #ffcae6;
}

.contact-info{
    margin: 300px auto;
    margin-top: 100px;
    width: 80%;
    background-color: #ffcae6;
    box-shadow: 0 2px 6px #ccc;

}

.task{
    background-color: rgb(255, 220, 232);
    color: #333;
    margin: 0;
    padding: 0;
    display: block;
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task h2{
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.task p{
    text-align: center;
}

.task form{
    background-color: #caffd0;
    width: 350px;
    height: 40px auto;

}

.task label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.task input[type="number"]{
    width: 15%;
    padding: 6px;
    margin-top: 5px;
    border-radius: 10px;
    color: #8b8b8b;
}

.task button{
    display: block;
    width: 70%;
    margin-top: 20px;
    padding: 10px;
    cursor:pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgb(82, 82, 82);

}

#result{
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-radius: 50px;
    transition: 0.4s ease;
    box-shadow: 0 2px 6px rgb(155, 155, 155);
}


#table{
    width: 60%;
    margin: 15px auto;
    box-shadow: 0 2px 6px #8b8b8b;
    border-color: #fd2828
}

#cup{
    width: 40%;
   
}








